@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    background-color: rgb(45, 44, 46);
}
.containerEquipe {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.equipe-img{
    width: 140px;
    height: 140px;

    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.equipe-img img{
    width: 100%;

}

.equipe-alinhar{
    border: solid 3px;
    display: flex;
    justify-content: center;
}

.equipe-titulo::after{
    content:"";
    padding: 2px;
    background-color: blue;
    display: flex;
    margin: 0 auto;
    width: 20%;
    margin-top: 1rem;
}

.equipe-titulo{
    text-align: center;
    font-family: roboto Condensed;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 3rem;
}

.modal-container {
    background: rgba(0, 0, 0, 0.2);
    
    width: 100%;
    height: 100vh;
    
    position: fixed;
    left: 0;
    top: 0;
    
    display: grid;
    place-items: center;
    
    opacity: 0;
    pointer-events: none;
    
    transition: opacity 0.15s;
  }
  
  .modal {
    background: #fff;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #00000070;
  
    overflow: hidden;
    
    transition: width 0.15s, height 0.15s;
  }
  
  .modal-show  .modal {
    width: 350px;
    height: 250px;
  }
  
  .modal-show {
    opacity: 1;
    pointer-events: auto;
  }

  .img-abaixo{
    display: flex;
    margin-top: 140%;
  }

  .img-topo{
    margin-top: 0;
  }



button{
    background-color: transparent;
    border: transparent;
}

    
