@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* Fonte equivale a 10px */
    font-size: 62.5%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
}

ul{
    display: flex;
    font-size:1.6rem;
}


/* Definições da HEADER */
#headerContainer{
    width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    color: #05F258;
}

.logo{
    max-width: 5rem;
    margin: 0.5rem;
    margin-right: 0;
    margin-left: 1.6vw; 
}

/* Navegação da página */

nav{
    width: 100%;
}

#botaoMenu {
    display: none;
}

#menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: Center;
}

#openMenu{
    display: flex;
    width: 50rem;
    flex-flow: row nowrap;
}
#menu li {
    white-space: nowrap;
    padding: 0 9%;
}

li{
    list-style-type: none;
}

/* Icone do carrinho de compras */
#carrinho {
    margin: 0.5rem;
    margin-right: 1.6rem;

}

.material-symbols-outlined {
    color: #53f289;
    display: flex;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Definições do FOOTER */
#footerContainer{
    display: flex;
    background-color: #000000;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

#footerP{
    color: #05F258;
    margin-left: 1.5vw;
    margin-top: 1vh;
    font-size: 1.6rem;
}



/* Responsividade para Celulares (672px) */
@media (max-width: 672px) {
    nav {
        display: none;
    }

    #home, #sobre, #equipe{
        background: #fff;
        width: 100%;
        height: 3px;
        margin: 5px auto;
    }
    .containerToggle{
        width: 30px;
        height: 25px;
        
    }
    .menuToggle.on{
        position: absolute;
        top: 0;
        background: linear-gradient(0deg, rgba(11,18,38,1) 42%, rgba(23,23,94,1) 100%);
        width: 100vw;
        height: 100vh;

        z-index: 7;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle.on nav{
        display: block;
    }
    .menuToggle.on .containerToggle{
        position: absolute;
        top: 10px;
        margin-right: 10px;
    }
    .menuToggle.on nav ul{
        display: block;
        text-align: center;
    }
    .menuToggle.on nav ul li{
        transition-duration: 0.5s;
        font-size: 4rem;
        line-height: 8rem;
        font-family: 'Poppins', sans-serif;
    }

}
