@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* Fonte equivale a 10px */
    font-size: 62.5%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size:1.6rem;
}
a{
    text-decoration: none;
    color: inherit;
}
li:hover{
    text-shadow: 2px 2px 5px #f2f2f2;
}

li{
    list-style-type: none;
}
/* Definições da HEADER */
#headerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    color: #05F258;
}
.menuToggle{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 5rem;
    margin: 0.5rem;
    margin-right: 0;
    margin-left: 1.6vw; 
}
/* Navegação da página */

nav{
    width: 100%;
}

#menu{
    display: flex;
    width: 70%;
    justify-content: center;
}

#menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: Center;
    width: 100%;
}

#openMenu{
    display: flex;
    width: 50rem;
    flex-flow: row nowrap;
}
#menu li {
    white-space: nowrap;
    margin: 0 5rem;
}

/* Icone do carrinho de compras */
#carrinho {
    margin: 0.5rem;
    margin-right: 1.6rem;

}

.material-symbols-outlined {
    color: #53f289;
    display: flex;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Definições do FOOTER */
#footerContainer{
    display: flex;
    background-color: #000000;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

#footerP{
    color: #05F258;
    margin-left: 1.5vw;
    margin-top: 1vh;
    font-size: 1.6rem;
}

/* Responsividade para 673px */
    @media (max-width: 673px) {
        html{
            font-size: 50%;
        }
        #primeiraBarra, #segundaBarra,
        #terceiraBarra{
            width: 100%;
            height: 2px;
            background: white;
            margin: 3px auto;
        }
        .containerToggle{
            display: flex;
            flex-direction: column;
            width: 40px;
            
        }
        /* Config teste para o menu  */
        nav {
            display: none;
        }
        .menuToggle.on{
            position: absolute;
            top: 0;
            background: linear-gradient(0deg, rgba(11,18,38,1) 42%, rgba(23,23,94,1) 100%);
            width: 100vw;
            height: 100vh;
        
            z-index: 7;
        
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .menuToggle.on nav{
            display: block;
        }
        .menuToggle.on .containerToggle{
            position: absolute;
            top: 10px;
        }
        .menuToggle.on nav ul{
            text-align: center;
            display: block;
        }
        .menuToggle.on nav ul li{
            transition-duration: 0.5s;
            font-size: 4rem;
            line-height: 8rem;
            font-family: 'Poppins', sans-serif;
        }
    }